@page "/reviews/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]  
@inject HttpInterceptorService _interceptor
@implements IDisposable

<head>
    <style>

        .btnCreate {
            background-color: #213555;
            color: #E1D9D1;
            width: 300px;
        }
        .btnCreate:hover { color: white; }

    </style>
</head>
 

<h3 class="card-title">Reviews</h3>
<br />


<a href="/reviews/create" class="btn btnCreate">
    <span class="oi oi-plus"></span>
    Add New Review
</a>
<br />
<br />
<br />

@if (Reviews == null)
{
    <div class="alert alert-info">Loading Reviews...</div>
}
else
{
    <table class="table table-responsive" id="reviewsTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Rating</th>
                <th>User</th>
                <th>Book</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in Reviews)
            {
                <tr>
                    <td>@review.Title</td>
                    <td>@review.Content</td>
                    <td>@review.UserRating</td>
                    <td>@review.AppUser.Username</td>
                    <td>@review.Book.Title</td>
                    <td>
                        <a href="/reviews/view/@review.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/reviews/edit/@review.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(review.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Review>? Reviews;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Reviews = await _client.GetFromJsonAsync<List<Review>>($"{Endpoints.ReviewsEndpoint}");
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#reviewsTable");
    }

    async Task Delete(int reviewId)
    {
        if (Reviews != null)
        {
            var review = Reviews.First(q => q.Id == reviewId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {review.Title}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.ReviewsEndpoint}/{reviewId}");
                await OnInitializedAsync();
            }
        }
    }

    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#reviewsTable");
        _interceptor.DisposeEvent();
    }
}
