@page "/"
@page "/recommendations/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject HttpInterceptorService _interceptor
@implements IDisposable

<PageTitle>Home</PageTitle>

<head>
    <style>
        .container { display: flex; flex-direction: column; }

        .hello { text-align: center; }

        hr {
            width: 80%; /* Shortens the line to half the page width */
            margin: 0 auto; /* Centers the line horizontally */
            border: 0; /* Removes the default border for styling flexibility */
            border-top: 3px solid #D8C4B6;
        }

        .btnCreate { background-color: #00008B; color: #E1D9D1; width: 300px; }
        .btnCreate:hover { color: white; }

        .Description { width: 350px; }

        .image { width: 250px; }

        img { width: 100%; height: 100%; object-fit: contain; border-radius: 15px;}

    </style>
</head>


<div class="landing-page container">
    <h1 class="hello">Hello, world!</h1> <br />
    <h2 class="hello"> Welcome to Book Review RA</h2>
    <br /> <hr /> <br />


    <h3 class="card-title">Staff's Recommendations</h3>
    <br />


    <a href="/recommendations/create" class="btn btnCreate">
        <span class="oi oi-plus"></span>
        Add New Recommendation
    </a>
    <br />
    <br />
    <br />

    @if (Recommendations == null)
    {
        <div class="alert alert-info">Looding Recommendations....</div>
    }
    else
    {
        <table class="table table-responsive" id="recommendationsTable">
            <thead>
                <tr>
                    <th>Book Image</th>
                    <th>Book Title</th>
                    <th>Decription</th>
                    <th>Date</th>
                    <th>Staff Rating</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Recommendation in Recommendations)
                {
                    @foreach (var Book in Books)
                    {
                        @if (Book.Id == Recommendation.BookID)
                        {
                            <tr>
                                <td class="image">
                                    @if (Book.Image != null)
                                    {
                                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Book.Image))" alt="Book Image" />
                                    }
                                    else
                                    {
                                        <img src="https://islandpress.org/sites/default/files/default_book_cover_2015.jpg" alt="Book Image">
                                    }
                                </td>
                                <td>@Book.Title</td>
                                <td class="Description">@Recommendation.Description</td>
                                <td>@(Recommendation.Date.Date.ToString("dd/MM/yyyy"))</td>
                                <td>@Recommendation.StaffRating</td>
                                <td>
                                    <a href="/recommendations/view/@Recommendation.Id" class="btn btn-primary">
                                        <span class="oi oi-book"></span>
                                    </a>
                                    <a href="/recommendations/edit/@Recommendation.Id" class="btn btn-warning">
                                        <span class="oi oi-pencil"></span>
                                    </a>
                                    <button class="btn btn-danger" @onclick="@(() => Delete(Recommendation.Id))">
                                        <span class="oi oi-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    }
</div>


@code {
    private List<Recommendation>? Recommendations;
    private List<Book>? Books;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Recommendations = await _client.GetFromJsonAsync<List<Recommendation>>($"{Endpoints.RecommendationsEndpoint}");
        Books = await _client.GetFromJsonAsync<List<Book>>($"{Endpoints.BooksEndpoint}");
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#recommendationsTable");
    }


    async Task Delete(int Id)
    {
        if (Recommendations != null)
        {
            var Recommendation = Recommendations.First(q => q.Id == Id);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {Recommendation.Id}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.RecommendationsEndpoint}/{Id}");
                await OnInitializedAsync();
            }
        }
    }

    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#recommendationsTable");
        _interceptor.DisposeEvent();
    }
}
